<div class="card">
  <div class="card-container">
    <div class="inner-card">
      <h2><%= @card.name %></h2>
      <p>Created by <%= @card.user.name %></p>
      <p>
        <%= @card.description %>
      </p>
      <% if current_user == @card.user %>
        <%= link_to 'Edit', edit_card_path(@card) %> |
      <% end %>
        <%= link_to 'Back', cards_path %>
    </div>
  </div>
</div>
