<!DOCTYPE html>
<html>
<head>
  <title>Omrails</title>
  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- The client library requires jQuery  -->
  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="https://api.trello.com/1/client.js?key=<%= ENV['TRELLO_KEY']%>"></script>
  
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="filler"></div>
<div class="container">
  <% flash.each do |name, msg|%>
    <%= content_tag(:div, msg, class: "alert alert-#{name}")%>
  <% end %>

  <%= yield %>

  <%= render 'layouts/footer' %>
</div>
</body>
</html>
